 .registration {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   width: 100vw;
   height: 100vh;
   background-color: rgba(3, 26, 51, 0.575);
 }

 .title {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   font-weight: 600;
   color: rgb(255, 255, 255);
 }

 .registration_input {
   width: 430px;
   margin: 0 auto;
   margin: 65px 0;
 }

 input:not([type]),
 input[type=text]:not(.browser-default),
 input[type=password]:not(.browser-default),
 textarea.materialize-textarea {
   border: 1px solid #707070;
   border-radius: 5px;
   background-color: #fff;
   margin-bottom: 0;
   color: black;
   padding-left: 5px;
   margin-left: -5px;
 }

 label {
   font-size: 14px;
   color: rgb(255, 255, 255);
 }