/* header {
    border-bottom: 1px solid rgba(199, 184, 184, 0.486);
    margin-bottom: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 50px;
    width: 20%;
    background: none;
    box-shadow: none;
    color: black;
}

.nav_botton {
    border: none;
    background: none;
    font-size: 14px;
    border-bottom: 1px solid rgba(16, 13, 175, 0);
    margin: 0;
    line-height: 48px;
    padding: 0 10px;
    color: rgb(255, 255, 255);
}

.nav_botton:focus {
    background: rgb(255, 255, 255);
}

.nav_botton:hover {
    border-bottom: 2px solid rgb(0, 68, 255);
    margin-top: 2px;
} */