.container {
    width: 400px;
    height: auto;
}

.iPhone_wrap {
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    margin: 5px;
}

.iPhoneImg img {
    width: 100%;
}

.prices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}

.prices .rub {
    display: inline-block;
    line-height: 15px;
    width: 0.4em;
    border-bottom: 2px solid black;
}

.totalPrice {
    color: #ff00CC;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0;
}

.totalPrice .rub {
    display: inline-block;
    border-bottom: 1px solid #ff00CC;
    line-height: 8px;
    width: 0.4em;
}

.startingPrice {
    font-size: 24px;
    color: grey;
    margin-left: 15px;
    margin-bottom: -9px;
}

.startingPrice .rub {
    display: inline-block;
    line-height: 8px;
    width: 0.4em;
    border-bottom: 2px solid grey;
}

.star_box {
    display: flex;
}

.iPhone_aside {
    padding: 35px 20px;
}

.star_row {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.star * {
    fill: #ff00CC;
}

.star_grade {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
    font-size: 17px;
    color: rgba(128, 128, 128, 0.678);
    font-weight: 500;
}

.characteristics {
    font-size: 20px;
    color: grey;
    border-color: rgb(253, 139, 0);
    margin-bottom: 10px;
}

.installmentPlan {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: linear-gradient(90deg, #baeeba9d, #fbff00d5);
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.cart {
    display: flex;
    align-items: center;
}

.cart p {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #ff00CC;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 5px;
    margin-right: 15px;
}